version: "3.9"

services:
  web:
    container_name: nextjs_app
    build: .
    ports:
      - "127.0.0.1:3000:3000"   # ONLY localhost (Nginx will proxy)
    env_file:
      - .env.production
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: Rudransh6295

volumes:
  mongo_data:
